.photo-grid{ box-sizing: border-box;
    padding: 0 -143px 0;
 display: grid;
 grid-template-columns: repeat(auto-fit,284px); 
 grid-template-rows: repeat(auto-fit, 213px);
 gap: 16px;
 }
 
 .photo-grid__item{
     width: 100%;
     object-fit: cover;
 }