.place {
    margin-top: 80px;
    display: grid;
    grid-template-columns: minmax(340px, 460px) minmax(352px, 458px);
    grid-template-rows: repeat(2, min-content);
    gap: 48px 40px;
    padding: 0 148px 0;


}

@media screen and (max-width: 1030px) {
    .place {
        padding: 0 48px 0;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 790px) {
    .place {
        margin-top: 73px;
        gap: 48px 28px;
        padding: 0 24px 0;
    }
}

@media screen and (max-width: 750px) {
    .place {
        margin-top: 50px;
        gap: 32px;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}