.cover__subtitle {
    z-index: 3;
    max-width: 360px;
    min-width: 288px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    text-decoration: none;
    text-align: center;

    color: #FFFFFF;

}

@media screen and (max-width:435px) {
    .cover__subtitle {
        padding: 0 16px 0;
        font-size: 14px;
        line-height: 16px;
    }

}