.lead__image {
    max-width: 100%;
    margin: 0 auto 4px;
    padding: 0 148px 0;
    box-sizing: border-box;
}

@media screen and (max-width:1030px) {
    .lead__image {
       
        padding: 0 46px 0;
    }
}

@media screen and (max-width: 770px) {
    .lead__image {
        
        padding: 0;
    }

}