.intro {
    margin: 92px 0;
    justify-content: flex-start;
    max-width: 690px;
    padding: 0 148px 0;
}

@media screen and (max-width:1030px) {
    .intro {
        padding: 0 48px 0;
    }

}

@media screen and (max-width:770px) {
    .intro {
        max-width: 720px;
        margin: 88px 0;
        padding: 0 24px 0;
    }

}

@media screen and (max-width:450px) {
    .intro {
        padding: 0 16px 0;
        margin: 64px 0;
    }

}