.cover__overlay {
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-color: #2A2C2F
}

.cover:hover .cover__overlay {
    opacity: 0.8;
    background-color: #2A2C2F
}


