.cover__title {
    z-index: 2;
    max-width: 560px;
    min-width: 288px;
    margin: 0 0 32px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;

}

@media screen and (max-width:527px) {
    .cover__title {
        font-size: 52px;
        line-height: 55px;
    }

}

@media screen and (max-width:435px) {
    .cover__title {
        margin: 0 16px 16px;
        font-size: 32px;
        line-height: 35px;
    }

}